<launch>

  <arg name="model" />
  <arg name="gui" default="True" />

  <include file="$(find sweetie_bot_description_proto2)/launch/description.launch" />
  <param name="use_gui" value="$(arg gui)" />

  <node name="core" pkg="rtt_ros" type="deployer" args="-s $(find sweetie_bot_kinematics)/scripts/test_kinematics_agregator.ops " output="screen" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["/agregator/output_joint_state"]</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sweetie_bot_description_proto2)/urdf.rviz" required="true" />

</launch>
