<launch>
	<node name="motion" pkg="rtt_ros" type="rttlua" output="screen"
		launch-prefix="$(find sweetie_bot_resource_client_usage_example)/scripts/cwd $(find sweetie_bot_resource_client_usage_example)/scripts/ "
		args="-i $(find sweetie_bot_resource_client_usage_example)/scripts/test_resource_control_actionlib.lua" 
		/>
	<node name="overseer" pkg="sweetie_bot_resource_client_usage_example" type="test_client_actionlib.py" output="screen"
		launch-prefix="xterm -e "
		/>
</launch>
